<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE config SYSTEM "../dtd/shib_auth.dtd">

<config>
  <headers>
    <remote_user>REMOTE_USER</remote_user>
    <given_name>givenName</given_name>
    <surname>sn</surname>
    <mail>mail</mail>
    <business_phone>telephoneNumber</business_phone>
    <home_phone></home_phone>
    <mobile_phone></mobile_phone>
    <fax_phone>facsimileTelephoneNumber</fax_phone>
    <pager_phone></pager_phone>
    <postal_address></postal_address>
  </headers>
  <generic>
    <content_locale>sv_SE</content_locale>
    <product_locale>sv_SE</product_locale>
  </generic>
  <capabilities>caseSensitive,contains,equals,sort,startsWith,endsWith</capabilities>
  <names>
    <name>
      <locale>sv_SE</locale>
      <text>Cognos Shib AP</text>
    </name>
    <name>
      <locale>en_US</locale>
      <text>Cognos Shib AP</text>
    </name>
  </names>
  <descriptions>
    <description>
      <locale>sv_SE</locale>
      <text>Etiam at tellus ante. Cras feugiat volutpat accumsan. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Ut laoreet placerat mattis.</text>
    </description>
    <description>
      <locale>en_US</locale>
      <text>Duis eu ipsum arcu. Suspendisse vitae consectetur est. Vestibulum sagittis, justo eget sodales rhoncus,
        velit nibh blandit sem, nec euismod risus diam vel sapien. Morbi porttitor, augue vel cursus dictum, elit dui
        volutpat lacus, a euismod sapien metus id lectus.</text>
    </description>
  </descriptions>
</config>