<?xml version="1.0" encoding="UTF-8" ?>

<config>
  <headers>
    <remote_user>REMOTE_USER</remote_user>
    <given_name>givenName</given_name>
    <surname>sn</surname>
    <mail>mail</mail>
    <business_phone>telephoneNumber</business_phone>
    <home_phone></home_phone>
    <mobile_phone></mobile_phone>
    <fax_phone>facsimileTelephoneNumber</fax_phone>
    <pager_phone></pager_phone>
    <postal_address></postal_address>
    <entitlement>eduPersonEntitlement</entitlement>
  </headers>
  <generic>
    <content_locale>sv_SE</content_locale>
    <product_locale>sv_SE</product_locale>
  </generic>
  <gmai>
    <prefix>urn:mace:swami.se:gmai</prefix>
    <application>su-ivs</application>
  </gmai>
  <ldap>
    <url>ldap://sukat-ldap.it.su.se</url>
    <base_dn>dc=su\,dc=se</base_dn>
  </ldap>
  <cache>
    <namespace>CognosShibAuth</namespace>
    <host>127.0.0.1</host>
    <port>11211</port>
    <ttl>3600</ttl>
    <clients>10</clients>
  </cache>
  <capabilities>caseSensitive,contains,equals,sort,startsWith,endsWith</capabilities>
  <names>
    <name>
      <locale>sv_SE</locale>
      <text>Swedish Name</text>
    </name>
    <name>
      <locale>en_US</locale>
      <text>Cognos Shib AP</text>
    </name>
  </names>
  <descriptions>
    <description>
      <locale>sv_SE</locale>
      <text>Blahonga</text>
    </description>
    <description>
      <locale>en_US</locale>
      <text>Foobar</text>
    </description>
  </descriptions>
  <visa_validator>
    <class>se.su.it.cognos.cognosshibauth.visa.validator.DummyVisaValidator</class>
  </visa_validator>
  <folders>
    <folder>
      <name>Users</name>
      <description>User folder</description>
      <children>
        <folder>
          <name>Employee</name>
          <description>Employees</description>
          <children>
            <users>
              <ldap_filter><![CDATA[(&(eduPersonEntitlement=urn:mace:swami.se:gmai:su-ivs:*)(eduPersonPrimaryAffiliation=employee))]]></ldap_filter>
            </users>
          </children>
        </folder>
        <folder>
          <name>Member</name>
          <description>Members</description>
          <children>
            <users>
              <ldap_filter><![CDATA[(&(eduPersonEntitlement=urn:mace:swami.se:gmai:su-ivs:*)(eduPersonPrimaryAffiliation=member))]]></ldap_filter>
            </users>
          </children>
        </folder>
        <folder>
          <name>Other</name>
          <description>Others</description>
          <children>
            <users>
              <ldap_filter><![CDATA[(&(eduPersonEntitlement=urn:mace:swami.se:gmai:su-ivs:*)(eduPersonPrimaryAffiliation=other))]]></ldap_filter>
            </users>
          </children>
        </folder>
      </children>
    </folder>
    <folder>
      <name>Roles</name>
      <description>Roles folder</description>
      <children>
        <roles>
          <ldap_filter>eduPersonEntitlement=urn:mace:swami.se:gmai:su-ivs:*</ldap_filter>
        </roles>
      </children>
    </folder>
  </folders>
</config>